<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thêm sinh viên</title>
    {% include "styles.html" %}
</head>

<body>
    {% include "header.html" %}
    <h1>Thêm Sinh Viên</h1>
    
    <form method="post">
        <label>Họ và Tên:</label>
        <input type="text" id="name" name="name" value="{{session['name']}}" required> <br>
        <label>Mã Sinh Viên:</label>
        <input type="text" id="msv" name="msv" value="{{session['msv']}}" required>
        <br>
        <input type="submit" id="bt" value="Bắt đầu thêm ảnh">
        {% if error %}
            <p style="color: red;"> {{ error }}!</p>
        {% endif %}
    </form>

</body>

</html>