<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Danh sách</title>
    {% include "styles.html" %}
    <style>
        table, th, td {
            border: 2px solid black;
        }

        table {
            background-color: white;
        }

        th, td {
            padding: 2px;
            font-weight: bold;
        }
        #bt, button {
            margin: 2px 2px;
        }
    </style>
</head>

<body>
    {% include "header.html" %}
    <h1>Danh sách điểm danh sinh viên</h1>
    <table>
        <thead>
            <tr>
                <th>Mã sinh viên</th>
                <th>Họ và Tên</th>
                <th>Thời gian</th>
            </tr>
        </thead>
        <tbody>
            {% for ds in dssv %}
            <tr>
                <td>{{ds['msv']}}</td>
                <td>{{ds['name']}}</td>
                <td>{{ds['time']}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>

</html>